@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

body {
    font-family: Montserrat, sans-serif;
}
/* header {
    text-align: center;
} */

.navbar {
    display: flex;
    justify-content: space-between;
}

.left-nav {
    height: auto;
    width: 125px;
    display:  flex;
    justify-content: space-around;
    align-items: flex-end;
}

.right-nav {
    height: auto;
    width: 260px;
    display:  flex;
    justify-content: space-around;
    align-items: flex-end;
}

#about {
    font-size: 13px;
    font-weight: 400;
}

#store {
    font-size: 13px;
    font-weight: 400;
}

#gmail {
    font-size: 13px;
    font-weight: 400;
}

#images {
    font-size: 13px;
    font-weight: 400;
}

#sign-in-span {
    height: 40px;
    width: 80px;
    display: flex;
    align-items: flex-end;
}

#sign-in {
    background: #4285F4;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 13px;
    font-weight: bold;
}